*{
    box-sizing: border-box;
    }
div{
    background-image:linear-gradient(red,blue);
    width:250px;
    height:430px;
    padding:5px;
    padding-left: 25px;
    border-radius: 15px;
    box-shadow: crimson;
    margin:5px;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 5px 5px #173459;
    }
body{
    background-color: aliceblue;
    }
.upper {
    font-family: cursive;
    color:navy;
}
.box input[type="text"], .box input[type="password"], .box input[type="number"]{
    border: 2px solid black;
    }
.box input[type="submit"]{
    border:1px solid black;
    border-radius: 5px;
    margin: 15px;
    padding-bottom: -20px;
    cursor: pointer;
    }